<div class="container footer">
  <p class="address">
    {{!-- <strong>Head Office:</strong> Abuja, Federal Capital Territory,
    Nigeria.
    <br /> --}}
    You received this email because you signed up to Lenders NG.
  </p>
  <p class="coppyright">&copy; Lenders NG 2022</p>
</div>